#tovabbolv{
 text-align: right;

}

.regitisza{ 
 float: right;
 margin-left: auto;
 margin-right: 0;
 display: block;  
 padding: 10px ;
 height: 270px;
 width: 25% 25% 25% 25%;
}

.nepszeruterm {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-gap: 35px;
  }

  table{
    width: 100%;
    height: 250px;
}

   .th{
       background-color: green;
       font-weight: bold;
       color: white;
}
   
   tr:nth-child(even) { background-color: lightgray}

#jobb{ 
    text-align: right;
}

#bal{
    text-align: left;
}

#alsolink{
    color: white;
    text-decoration: none;
  }

p{
  text-align: justify;
  text-indent: 16px;
   
} 